<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>

<div class="items">
  <ul>
    <% current_time = Time.new %>
    <% @available_items.each do |ai| %>
      <li class="item">
        <a href="#"><%=ai.item.name %></a></br>
        created <%= ( current_time - ai.created_at.to_time).to_i / 60 %> minutes ago   By: <%= ai.user.email%>
      </li>
    <%end%>
  </ul>
</div>
